{% load static %}
<html>
<head>
  <title>Projects </title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/styleproject.css' %}"/>
  <h1>Projects</h1>
</head>
<body >
  <h1 style="text-align:left;">This page contains  links of  projects done by me.</h1>
  <div>
    <h2>Django Post Reply Project</h2>
    <p>This project is completed with the help of Django tutorials provided and its links are:</p>
    <a href="https://rupezzz111.pythonanywhere.com">Web Link</a><br>
    <a href="https://github.com/sapkotaruz11/Mypostapp">GitHub Link</a>
</div>
<div>
  <h2>My Django Profile Project</h2>
  <p2>This project is my first attempt to create a django webapp by myself and its Github link is:</p2><br>
  <a href="https://github.com/sapkotaruz11/">GitHub Link</a>
</div>

</body>
</html>
