{% load static %}
<html>
<head>
  <title>MY RESUME </title>
  <h1>RESUME</h1>
  <link rel="stylesheet" type="text/css" href="{% static '/css/styleresume.css' %}"/>
</head>
<body>
  <img src="/static/images/mypic.jpg">
  <div>
    <h2>Personal Details</h2>
    <ul>Name:Rupesh Sapkota</ul>
    <ul>DOB:19/06/1996</ul>
    <ul>Email:sapkotarupesh15@gmail.com</ul>
    <ul>City:Pokhara</ul>
    <ul>Country:Nepal</ul>
  </div>
  <div>
    <h2>Education</h2>
    <ul>School:Fishtail Academy</ul>
    <ul>High-School:Global H.S.S.</ul>
    <ul>College:Acharya Institute of Technology</ul>
  </div>
  <div>
    <h2>Experience(s)</h2>
    <ul>Internships:EveryCrave<ul>
    </div>
  <div2>
    <h2>Skills</h2>
    <ul>Python</ul>
    <ul>C/C++</ul>
    <ul>Java/JavaScript</ul>
    <ul>HTML/CSS</ul>
    <ul>Django</ul>
  </div2>
  <div3>
    <h3>Hobbies</h3>
    <ul>Music</ul>
    <ul>Footlball</ul>
  </div3>
  <div4>
    <h3>Intrested In</h3>
    <ul>Machine Learning</ul>
    <ul>Data Science</ul>
  </div4>

</body>
</html>
