img{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  float: right;
}
body{
  background-image:url("/static/images/resume_back.jpg");
  background-size:100%;
}
div2{
  position:absolute;
  top:70px;
  right:500px;
  width:200px;
  height:100px;


}
div3{
  position:absolute;
  top:300px;
  right:500px;
  width:200px;
  height:100px;


}
div4{
  position:absolute;
  top:420px;
  right:500px;
  width:200px;
  height:100px;


}
